
    <div class="wrapper">
        <div class="container" style="height:370px" > </div>
        <div class="col-sm-4 offset-sm-4">
              <div class="form-group">
                <label for="formGroupExampleInput" ><h2 style="color:white;">미래가 보인다 보여 선명하게 보여</h2></label>
                <form action="/game/future" method="get">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="이름을 적어주세요" name="name">
              </div>
              <button type="submit" class="btn btn-primary col-sm-4 offset-sm-4">Future!</button>
           </form>
        </div>
    </div>
